# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore empty packages without source files yet
pkg/cow-sdk-ethers-v5/*
pkg/cow-sdk-ethers-v6/*
pkg/cow-sdk-viem/*
pkg/cow-sdk-wagmi/*
